<launch>
    <arg name="video_folder"/>
    <arg name="use_rviz" default="true"/>
    <arg name="seed" default="random" />

    <include file="$(find rosplan_stage_demo)/launch/empty_stage_single_robot.launch">
        <arg name="use_default_rviz" value="$(arg use_rviz)"/>
    </include>

    <node pkg="second_coursework" type="itr_cw_CS_2546" name="itr_cw_CS_2546" output="screen" args="--video_folder $(arg video_folder) --seed $(arg seed)" required="true"/>
    

    <include file="$(find speech_database)/launch/speech.launch" />
    <include file="$(find ros_vosk)/launch/ros_vosk.launch" />

    <include file="$(find second_coursework)/launch/student_nodes.launch" />
</launch>