<launch>
    <node pkg="second_coursework" type="find_object_service.py"  name="find_object_service" output="screen"/>
    <node pkg="second_coursework" type="check_rules_action.py"   name="check_rules_action" output="screen"/>
    <node pkg="second_coursework" type="yolo_detector.py"        name="yolo_detector"      output="screen"/>
</launch>
