<launch>
    <node pkg="second_coursework" type="find_object_service.py" name="find_object_service" output="screen"/>

    <node pkg="second_coursework" type="check_rules_action_server.py" name="check_rules_action_server" output="screen"/>

    <node pkg="second_coursework" type="find_object_action_server.py" name="find_object_action_server" output="screen"/>

    <node pkg="second_coursework" type="yolo_detector.py" name="yolo_detector" output="screen">
        <param name="coco_data" value="$(find second_coursework)/config/coco.data"/>
    </node>
</launch>